<section class="PersonalInfo px-3 pt-4">
  <!--Header Section -->
  <header class="container-fluid headerSection">
    <div class="row col-md-12">
      <div class="col-md-5">
        <h3>Confirmation</h3>
        <h6>Your Comments have been submitted</h6>
      </div>
      <div class="menu col-md-7">
        <ul class="progressbar row justify-content-end">
          <li class="active">
            <a>Personal Info</a>
          </li>
          <li class="active">
            <a>Comment</a>
          </li>
          <li class="active">
            <a>Review</a>
          </li>
          <li class="active">
            <a>Confirmation</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!--Middle Section -->
  <section class="container-fluid px-4 py-2 heading confirmationPage">
    <!-- Your Experience -->
    <div class="card shadow-lg px-5 my-2 justify-content-center">
      <div class="row col-md-12 my-3 heading justify-content-center">
        <div class="col-md-10">
          <h1 class="col-md-6">Thank you for your feedback</h1>
        </div>
      </div>
      <div class="row col-md-12 justify-content-center">
        <div class="col-md-10">
          <div class="line"></div>
        </div>
      </div>

      <div class="row col-md-12 paragraph justify-content-center">
        <p class="col-md-10">
          If you requested a reply, you will receive an acknowledgement email
          with your case number and other important information . we appreciate
          your Feedback, and thank you for flying Delta
        </p>
      </div>
    </div>
  </section>
</section>
